<!DOCTYPE html>
<html th:lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.login}"></title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
        <a class="navbar-brand" href="/shop?page=0" th:text="#{label.periodicals}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login" th:text="#{label.login}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registration" th:text="#{label.signUp}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?lang=en"><img width="30px" th:src="@{/images/img_1.png}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?lang=ua"><img width="30px" th:src="@{/images/img.png}"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="login-form">
    <div class="cotainer">
        <span style="color:red" th:if="${ex != null}">
            <div class="alert alert-warning">
                    <strong th:text="${ex}"></strong>
            </div>
        </span>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" th:text="#{label.login}"></div>
                    <div class="card-body">
                        <form th:action="@{/login}" method="post">
                            <div class="form-group row">
                                <label for="username"
                                       class="col-md-4 col-form-label text-md-right"
                                       th:text="#{label.username}"></label>
                                <div class="col-md-6">
                                    <input type="text" id="username" class="form-control" name="username"
                                           required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right"
                                       th:text="#{label.password}"></label>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" name="password"
                                           required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <span class="has-error" th:text="${error}"></span>
                                </div>
                            </div>

                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary" th:text="#{label.login}"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>